nav {
    padding: 0 0 3vh;
}

.container {
    display: grid;
    grid-gap: 1em;
    justify-content: space-around;
    grid-template-columns: 1fr;
}

.container > div {
    margin: 1em;
}

nav .dropdown {
    border-top: 0.3em solid;
    border-image: linear-gradient(to right, transparent 0, var(--verde-bandiera) 15%, var(--verde-bandiera) 33.33%, white 33.33%, white 66.67%, var(--rosso-bandiera) 66.67%, var(--rosso-bandiera) 85%, transparent 100%) 1;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

nav .dropdown > a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

nav .dropdown > a:hover {
    background-color: #fba;
}