@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair Display');

:root {
    --rosso-bandiera: #CD212A;
    --verdi-bandiera: #008C45;
    --rosso-principale: #B2392F;
    --rosso-scuro: #832820;
    --rosso-chiaro: #C66458;
    --verde-principale: #4E6D48;
    --verde-scuro: #384f33;
    --verde-chiaro: #6f896a;
    --claro: #F6F0E9;
    --oscuro: #E8D8C4;
    --fondo: #f4f2f0;
    --vino: #5E2129;
}

body {
    background-color: var(--fondo);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', sans-serif;
    color: var(--vino);
}

button {
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    box-shadow: 0 0.1em 0.4em 0 black;
}

.rosso {
    background: var(--rosso-principale);
    color: white;
    border: 0.1em solid var(--rosso-scuro);
    border-bottom: 0.3em solid var(--rosso-scuro);
}

.rosso:hover{
    background: var(--rosso-chiaro) !important;
    border: 0.1em solid var(--rosso-principale);
    border-bottom: 0.3em solid var(--rosso-principale);
    box-shadow: 0 0 0.5em 0.1em var(--rosso-chiaro), 0 0.1em 0.4em 0 #333;
}

.rosso:active{
    background: var(--rosso-principale) !important;
    border: 0.1em solid var(--rosso-principale);
    transform: translateY(0.2em);
}

.verde {
    background: var(--verde-principale);
    color: white;
    border: 0.1em solid var(--verde-scuro);
    border-bottom: 0.3em solid var(--verde-scuro);
}

.verde:hover{
    background: var(--verde-chiaro) !important;
    border: 0.1em solid var(--verde-principale);
    border-bottom: 0.3em solid var(--verde-principale);
    box-shadow: 0 0 0.5em 0.1em var(--verde-chiaro), 0 0.1em 0.4em 0 #333;
}

.verde:active{
    background: var(--verde-principale) !important;
    border-bottom: 0;
    transform: translateY(0.3em);
}

.main {
    padding: 1em;
    background-color: var(--claro);
    margin: auto;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0, rgba(255, 255, 255, 0.05) 0 0 0 1px inset;
}

.container {
    display: grid;
    grid-gap: 1em;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
}

nav div {
    align-content: center;
    text-align: center;
    margin: 0;
}

nav {
    height: auto;
    margin: 3vh auto;
    display: grid;
    grid-gap: 0;
    justify-content: center;
    border-bottom: 0.3em solid;
    border-image: linear-gradient(to right, transparent 0, var(--verdi-bandiera) 33.33%, white 33.33%, white 66.67%, var(--rosso-bandiera) 66.67%, transparent 100%) 1;
}

nav a {
    text-decoration: none;
}

img {
    width: 100%;
}