@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair Display');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

:root {
    --rosso-bandiera: #CD212A;
    --verde-bandiera: #008C45;
    --rosso-principale: #B2392F;
    --rosso-scuro: #832820;
    --rosso-chiaro: #C66458;
    --verde-principale: #4E6D48;
    --verde-scuro: #384f33;
    --verde-chiaro: #6f896a;
    --claro: #F6F0E9;
    --oscuro: #E8D8C4;
    --fondo: #f4f2f0;
    --vino: #5E2129;
    --pesto: #292F14;
}

body {
    background-color: var(--fondo);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 1vh;
    background-image: url("../img/bg.jpeg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-size: 10vh;
    font-family: 'Cookie', sans-serif !important;
}
h2 {
    font-size: 5vh;
}
h3 {
    font-size: 4vh;
}
h4 {
    font-size: 3vh;
}
h5 {
    font-size: 2vh;
}
h6 {
    font-size: 1vh;
}

h1, h3, h5 {
    color: var(--vino);
    background-color: var(--verde-chiaro);
}

h2, h4, h6 {
    color: var(--pesto);
    background-color: var(--rosso-chiaro);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
    padding: 5px;
}

button {
    transition: 250ms;
    border: none;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0.1em 0.4em 0 black;
    font: inherit;
}

button:hover { cursor: pointer; }

.rosso {
    color: white;
    background: var(--rosso-principale);
    border: 2px;
    border-bottom: 6px;
    border-style: solid;
    border-color: var(--rosso-scuro);
}

.rosso:hover{
    background: var(--rosso-chiaro);
    border-color: var(--rosso-principale);
}

.rosso:active{
    background: var(--rosso-principale);
    border: 2px;
    margin-bottom: 4px;
    border-style: solid;
    border-color: var(--rosso-scuro);
    transform: translateY(4px);
}

.verde {
    color: white;
    background: var(--verde-principale);
    border: 2px;
    border-bottom: 6px;
    border-style: solid;
    border-color: var(--verde-scuro);
}

.verde:hover{
    background: var(--verde-chiaro);
    border-color: var(--verde-principale);
}

.verde:active{
    background: var(--verde-principale);
    border: 2px;
    margin-bottom: 4px;
    border-style: solid;
    border-color: var(--verde-scuro);
    transform: translateY(4px);
}

.img-button {
    border: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    box-shadow: none;
    border-radius: 0;
    color: transparent;
    font-family: "Cookie", sans-serif !important;
    font-size: 30px;
    background-blend-mode: soft-light;
    background-color: transparent;
    background-position: center top;
}

.img-button:hover {
    background-color: var(--verde-bandiera);
    color: var(--vino);
}

.img-button:active {
    background-color: var(--verde-chiaro) !important;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    z-index: 10;
}

nav {
    height: auto;
    margin: 3vh auto;
}

nav h1, nav h2, nav h3, nav h4, nav h5, nav h6 {
    padding: 10px;
    background-color: transparent !important;
    text-align: center !important;
}

footer {
    text-align: center;
}

table, tr, td, th {
    border: 1px solid var(--verde-chiaro);
    border-collapse: collapse;
    font: inherit;
}

.main {
    padding: 1em;
    background-color: var(--claro);
    margin: auto;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0, rgba(255, 255, 255, 0.05) 0 0 0 1px inset;
}

.author-box {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1em;
    align-items: center;
}

.ab-l {
    grid-template-columns: 1fr 3fr;
    text-align: left;
}
.ab-r {
    grid-template-columns: 3fr 1fr;
    text-align: right;
}

.name {
    padding: 0.2em;
    color: var(--pesto);
    font-family: 'Cookie', sans-serif !important;
    font-weight: bold;
    font-size: 5vh;
    background-color: var(--rosso-chiaro);
}

.ab-l > .name {
    text-align: right !important;
}

.ab-r > .name {
    text-align: left !important;
}